body{
background-color:#F5F1E8;
font-family:Georgia, serif;
color:#2E2E2E;
text-align:center;
margin:0;
}

h1{
color:#C9A86A;
font-size:48px;
margin-top:40px;
}

nav{
margin-top:30px;
font-size:18px;
}

a{
text-decoration:none;
color:#2E2E2E;
margin:0 10px;
font-weight:bold;
}

a:hover{
color:#C9A86A;
}

p{
max-width:700px;
margin:auto;
line-height:1.6;
font-size:18px;
}
